src/main/mule/sampleapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ea9926a2-4e99-4d36-bac1-a68861724bca" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleapiFlow" doc:id="4806a1a1-210e-49df-ad8e-81dd15fd7319" >
		<http:listener doc:name="Listener" doc:id="b1208000-4111-4143-81b6-c40a52801a92" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="0d6f4bf4-88b2-41dd-8b84-81859ea2202c" message='#["Hello world api success"]'/>
		<logger level="TRACE" doc:name="Logger" doc:id="5e68b203-b8eb-44d7-8427-830aa58cc44d" message='#["flow ends"]'/>
	</flow>
</mule>
